*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
html{
    
    background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 188, 0.521) 100%);
    font-size: 10px;
}
body 
{
    display: grid;
    place-items: center;
}
