<!DOCTYPE html>
<html lang="en">
<head>
	<title>Messanger</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" media="screen" href="css/chat.css">
</head>

<body>
	<div id="chat-container">
		<div id="search-contacts">
			<input type="text" placeholder="search" />
		</div>
		<div id="Contacts-list">
			
			<div class="Contacts">
				
				<div class="title-txt">
					Reza Masomi
				</div>
				<div class="date">
					set 16
				</div>
				<div class="Contacts-Message">
					this is a Message
				</div>

			</div>
			<div class="Contacts">
				
				<div class="title-txt">
					Reza Masomi
				</div>
				<div class="date">
					set 16
				</div>
				<div class="Contacts-Message">
					this is a Message
				</div>

			</div>

		</div>
		<div id="new-message-contacts">
			<a id="new-message" herf="#">+</a>
			 
		</div>
		<div id="chat-title">
			<span>Reza Masomi</span>	

		</div>
		<div id="chat-massage-list">

		</div>
		<div id="chatPage">
			<textarea class="txtArea" placeholder="type a Message "></textarea>
			<a href="#" ><img src="image/send.png" alt="send"></a>
		</div>

	</div>

</body>
</html>