<!DOCTYPE html>
<html lang="en">
<head>
	<title>Messanger</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" media="screen" href="css/chat.css">
	
	<script src="js/angular/angular.js"></script>
	<script src="js/jquery/jquery.js"></script>
	<script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/getContactList.js"></script>
	<script src="js/jquery/jquery.min.js"></script>
	<script src="js/jquery/jquery-ui.min.js"></script>
	<script src="js/angular/angular-resource.js"></script>

</head>

<body>
	
	<div ng-app="userContacts" id="chat-container" ng-controller="userContactsController">
		<div id="search-contacts">
			<input type="text" placeholder="search" ng-model="searchData" />
		</div>


		<div id="Contacts-list">
			<div class="Contacts" ng-click="onclick($index);" ng-repeat="r in lst | filter : searchData">
				<img id = "img-profile-{{$index}}" width="40px"height="40px">
				<div class="title-txt">{{r}}</div>
				<div class="date">1999/01/06</div>
				<div class="Contacts-Message">hey!</div>
			</div>
		</div>

		<div id="new-message-contacts">
			<a id="new-message" ng-click="onclick5();">+</a>
			 
		</div>
		<div id="chat-title">
			<div id="un-profile" ng-click="onclick_profile()"> {{usr}} </div>
			<div class="dropdown">
				<img id="kebabmenu" class="dropbtn" src="image/kebabmenu.png" alt="kebabmenu" onclick="myFunction()" >
				<div id="myDropdown" class="dropdown-content">

				    <a ng-if="!isBlock()" ng-click="block()">Block Contact</a>
				    <a ng-if="isBlock()" ng-click="unblock()">Unblock Contact</a>
					<a ng-click="logout()">Log Out</a>
				</div>
			</div>
		</div>
		<div id="chat-massage-list">

			<div ng-repeat="r in messages">
				
				<div ng-if="r.from_user" class="massage-row your-message"  >
						
						<div  ng-if="r.from_user" class="massage-text">
							{{r.message}}
							<div class="dropdown1 message-dropdown">
								<img id="kebabmenumessage" class="dropbtn1" src="image/kebabmenu.png" alt="kebabmenu">
								<div id="myDropdown1" class="dropdown-content1">
									<a ng-click="onclick3($index)">Delete Message</a>
									<a ng-click="edit($index)">Edit Message</a>
								</div>
							</div>
						</div>

						
						<div ng-if="r.from_user" class="massage-time">{{r.date}}</div>
				</div>
	
				<div ng-if="!r.from_user" class="massage-row Received-messages">
					<div ng-if="!r.from_user" class="massage-text">{{r.message}}</div>
					<div ng-if="!r.from_user" class="massage-time">{{r.date}}</div>
				</div>


			</div>
		</div>
		
		<div id="chatPage">
			<textarea class="txtArea" id="txt-msg" placeholder="Type a message..."></textarea>
			<a ng-click="onclick2();" ><img src="image/send.png" alt="send"></a>
		</div>


		

	</div>

</body>
<script src="js/chat.js"></script>
</html>