<!DOCTYPE html>
<html lang="en">
<head>
	<title>Messanger</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" media="screen" href="css/chat.css">

	<script src="js/angular/angular.js"></script>
	<script src="js/jquery/jquery.js"></script>
	<script src="js/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/getContactList.js"></script>
	<script src="js/jquery/jquery.min.js"></script>
	<script src="js/jquery/jquery-ui.min.js"></script>
	<script src="js/angular/angular-resource.js"></script>

</head>

<body>
	
	
	<div ng-app="userContacts" id="chat-container" ng-controller="userContactsController">
		<div id="search-contacts">
			<input type="text" placeholder="search" ng-model="searchData" />
		</div>


		<div id="Contacts-list">
				
				<div class="Contacts" ng-click="onclick($index);" ng-repeat="r in lst  | filter : searchData">
				
					<div class="title-txt">{{r}}</div>
					<div class="date">1999/01/06</div>
					<div class="Contacts-Message">hey!</div>
				</div>

			
		</div>

		<div id="new-message-contacts">
			<a id="new-message" herf="#">+</a>
			 
		</div>
		<div id="chat-title">
			<span>{{usr}}</span>	
			<a href="#" ><img id="kebabmenu" src="image/kebabmenu.png" alt="send"></a>
		</div>

		<div id="chat-massage-list">

			<div ng-repeat="r in messages">
				
				<div ng-if="r.from_user" class="massage-row your-message"  >
						
						<div ng-click="onclick3($index)" ng-if="r.from_user" class="massage-text">{{r.message}}</div>
						<div ng-if="r.from_user" class="massage-time">{{r.date}}</div>
				</div>
	
				<div ng-if="!r.from_user" class="massage-row Received-messages">
					<div ng-if="!r.from_user" class="massage-text">{{r.message}}</div>
					<div ng-if="!r.from_user" class="massage-time">{{r.date}}</div>
				</div>


			</div>
		</div>
		
		<div id="chatPage">
			<textarea class="txtArea" id="txt-msg" placeholder="Type a message..."></textarea>
			<a ng-click="onclick2();" ><img src="image/send.png" alt="send"></a>
		</div>


		

	</div>

</body>
</html>