<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <!-------------------content------------------->
    <div class="content">
        <span id="ridAM"><?php echo $Message; ?></span>
        <form action="index.php" method="POST">
            <fieldset>
                <div class="field">
                    <div class="caption">
                       <label for="Username">User Name</label>
                    </div>
                    <div class="controls">
                       <input class="input_c en" type="text" id="Username"  name="uiUsername">
                    </div>
                </div>
                <div class="field">
                    <div class="caption">
                       <label for="pass">Password (8 characters minimum)</label>
                    </div>
                    <div class="controls">
                       <input class="input_c en" type="password" name="uiPassword" id="pass">
					   <i class="far fa-eye" id="togglePassword"></i>
                    </div>
                   
                </div>
				<div class="btn">
                    <button class="submit"type="submit" name="uiLogin" value="Sign in">SIGN IN</button>
                </div>
				<div class="container signup">
					<p>You don't have account?<a href="signup.php">Sign up</a>.</p>
				</div>
				
            </fieldset>
        </form>
    </div>
</body>
</html>